@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700;900&display=swap");

@font-face {
   font-family: 'Bison';
   src: local('Bison Bold'), local('Bison-Bold'),
       url('../fonts/Bison-Bold.woff2') format('woff2'),
       url('../fonts/Bison-Bold.woff') format('woff'),
       url('../fonts/Bison-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
 }